@import "./mixins/mixins.scss";

@include b(col) {
  box-sizing: border-box;
  float: left;
}
@for $i from 0 through 24 {
  .cl-col-#{$i} {
    width: calc($i/24) * 100%;
  }
  .cl-col-offset-#{$i} {
    margin-left: calc($i/24) * 100%;
  }
  .cl-col-push-#{$i} {
    position: relative;
    left: calc($i/24) * 100%;
  }
  .cl-col-pull-#{$i} {
    position: relative;
    right: calc($i/24) * 100%;
  }
}

// .cl-col-24 {
//   width: 100%;
// }
// .cl-col-23 {
//   width: 90%;
// }
// .cl-col-12 {
//   width: 50%;
// }

// 响应式布局
// xs < 768px
.el-col-xs-0 {
  display: none;
}
@include res(xs) {
  @for $i from 0 through 24 {
    .cl-col-xs-#{$i} {
      width: calc($i/24) * 100%;
    }
    .cl-col-xs-offset-#{$i} {
      margin-left: calc($i/24) * 100%;
    }
    .cl-col-xs-push-#{$i} {
      position: relative;
      left: calc($i/24) * 100%;
    }
    .cl-col-xs-pull-#{$i} {
      position: relative;
      right: calc($i/24) * 100%;
    }
  }
}

// sm >= 768px
.el-col-sm-0 {
  display: none;
}
@include res(sm) {
  @for $i from 0 through 24 {
    .cl-col-sm-#{$i} {
      width: calc($i/24) * 100%;
    }
    .cl-col-sm-offset-#{$i} {
      margin-left: calc($i/24) * 100%;
    }
    .cl-col-sm-push-#{$i} {
      position: relative;
      left: calc($i/24) * 100%;
    }
    .cl-col-sm-pull-#{$i} {
      position: relative;
      right: calc($i/24) * 100%;
    }
  }
}

// md>= 992px
.el-col-md-0 {
  display: none;
}
@include res(md) {
  @for $i from 0 through 24 {
    .cl-col-md-#{$i} {
      width: calc($i/24) * 100%;
    }
    .cl-col-md-offset-#{$i} {
      margin-left: calc($i/24) * 100%;
    }
    .cl-col-md-push-#{$i} {
      position: relative;
      left: calc($i/24) * 100%;
    }
    .cl-col-md-pull-#{$i} {
      position: relative;
      right: calc($i/24) * 100%;
    }
  }
}

// lg>= 1200px
.el-col-lg-0 {
  display: none;
}
@include res(lg) {
  @for $i from 0 through 24 {
    .cl-col-lg-#{$i} {
      width: calc($i/24) * 100%;
    }
    .cl-col-lg-offset-#{$i} {
      margin-left: calc($i/24) * 100%;
    }
    .cl-col-lg-push-#{$i} {
      position: relative;
      left: calc($i/24) * 100%;
    }
    .cl-col-lg-pull-#{$i} {
      position: relative;
      right: calc($i/24) * 100%;
    }
  }
}

// xl>= 1920px
.el-col-xl-0 {
  display: none;
}
@include res(xl) {
  @for $i from 0 through 24 {
    .cl-col-xl-#{$i} {
      width: calc($i/24) * 100%;
    }
    .cl-col-xl-offset-#{$i} {
      margin-left: calc($i/24) * 100%;
    }
    .cl-col-xl-push-#{$i} {
      position: relative;
      left: calc($i/24) * 100%;
    }
    .cl-col-xl-pull-#{$i} {
      position: relative;
      right: calc($i/24) * 100%;
    }
  }
}
