@import "./mixins/mixins.scss";
@import "./common/var.scss";

@include b(input) {
  box-sizing: border-box;
  font-size: 14px;
  display: inline-block;
  height: 32px;
  border: 1px solid $--border-color-base;
  border-radius: 4px;
  padding: 5px 8px;
  font-size: inherit;
  &:hover {
    border-color: $--color-primary-light-3;
  }
  &:focus {
    box-shadow: inset 0px 1px 3px rgba(87, 85, 217, 0.5);
    border-color: $--color-primary-light-3;
    outline: none;
  }
  @include when(disabled) {
    &,
    &:hover,
    &:focus {
      cursor: not-allowed;
      background-color: $--input-disabled-background-color;
      border-color: $--input-disabled-boder-color;
      color: $--input-disabled-font-color;
    }
  }
}
