@import "./mixins/mixins.scss";
@import "./mixins/_input.scss";
@import "./common/var.scss";

@include b(input) {
  position: relative;
  box-sizing: border-box;
  font-size: 14px;
  display: inline-block;
  @include when(disabled) {
    &,
    &:hover,
    &:focus {
      input {
        cursor: not-allowed;
        background-color: $--input-disabled-background-color;
        border-color: $--input-disabled-boder-color;
        color: $--input-disabled-font-color;
      }
    }
  }
  @include when(prefix-icon) {
    & {
      input {
        padding-left: 30px;
      }
    }
  }
  @include when(show-password) {
    @include input-icon-hover();
  }
  @include when(clearabled) {
    @include input-icon-hover();
  }

  input {
    // min-width: 180px;
    width: 180px;
    height: 40px;
    border: 1px solid $--border-color-base;
    border-radius: 4px;
    padding: 0 8px;
    font-size: inherit;
    transition: all $--transition-duration $--transition-timing-function;
    box-sizing: border-box;
    &:hover {
      border-color: $--color-primary-light-3;
    }
    &:focus {
      box-shadow: inset 0px 1px 3px rgba(87, 85, 217, 0.5);
      border-color: $--color-primary-light-3;
      outline: none;
    }
    &::placeholder {
      color: $--color-text-placeholder;
    }
  }

  .suffix-icon,
  .prefix-icon,
  .clear-icon {
    position: absolute;
    top: 10px;
    i {
      color: $--color-text-placeholder;
    }
  }

  .suffix-icon {
    right: 10px;
  }
  .prefix-icon {
    left: 10px;
  }
  .clear-icon {
    right: 10px;
    cursor: pointer;
  }
}
