@import "./config.scss";
@import "../common/var.scss";

/**BEM
---------------------------------**/

@mixin b($block) {
  $B:$namespace + '-' + $block;
  @at-root{
    .#{$B}{
      @content;
    }
  }
}

// $modifier 是一个数组 (flex,black) -> &--flex,&--black
@mixin m($modifier) {
  // &--flex
  $selector:&;
  $currentSelector:'';
  @each $unit in $modifier {
    $currentSelector:$currentSelector+$selector+$modifier--separator + $unit + ',';
  }

  @at-root{
    #{$currentSelector}{
      @content;  
    }
  }
  // &--#{$modifier}{
  //   @content;  
  // }
}

@mixin when($state) {
  // &.is-justify-end
  &.#{$state-prefix + $state}{
    @content;
  }
}


/**自适应临界断点
---------------------------------**/

@mixin res($key, $map: $--breakpoints) {
  @if map-has-key($map, $key) {
    @media only screen and #{inspect(map-get($map, $key))} {
      @content;
    }
  } @else {
    @warn "undefined points: `#{$map}`"
  }
};